* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: black;
}
