/* classi utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #7c7e83;
}

.white {
  color: #fff;
}

.black {
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.dis-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .hidden-lg {
    display: none
  }
}

@media screen and (max-width: 575px) {
  .hidden-xs {
    display: none
  }
  .show-xs {
    display: block;
  }
}

/* classi utility */

#wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141922;
}

/* sidebar */
.sidebar {
  background-color: black;
  height: calc(100% - 90px);
  width: 200px;
  color: white;
}

.sidebar span:hover{
  color: #fff;
  cursor: pointer;
}

.sidebar section ul li {
  list-style: none;
  padding: 5px 20px;
}

.sidebar section ul span {
  font-size: 12px;
  padding-left: 5px;
}

.sidebar section ul img {
  width: 30px;
  vertical-align: middle;
}

.sidebar section.top ul li:nth-child(3) {
  border-left: solid 3px #adff2f;
  }

.sidebar section.top ul li:nth-child(5) {
  padding-bottom: 15px;
  }

.sidebar section.top ul .big-logo {
  width: 80%;
  padding: 5px 0;
}

.sidebar section.top ul.one .add-button span:before  {
  content: "+";
  font-size: 25px;
  color:  #000;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
  width: 30px;
  text-align: center;
  margin-right: 5px;
}

.sidebar section.bottom {
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 295px);
}

.sidebar section.bottom ul.two {
  overflow-y: auto;
  min-height: 100px;
}

.sidebar section.bottom ul.three li:first-child div {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.sidebar section.bottom ul.three img {
  width: 20px;
  margin-right: 10px;
}

.sidebar section.bottom ul.three .profile-icon {
  width: 25px;
  height: 25px;
  background-image: url("../img/images/profile.svg");
  background-color: #595959;
  display: inline-block;
  border-radius: 50%;
  vertical-align: bottom;
  background-size: contain;
  background-position: center;
}

.sidebar section.bottom ul.three li:nth-child(2) strong {
  font-size: 15px;
  padding-left: 10px;
  color: #fff;
}

@media screen and (max-width: 575px) {
  .sidebar {
    width: 80px;
  }
  .sidebar section.top ul li:nth-child(3) {
    border-left: none;
    }

  .sidebar section.bottom {
    height: calc(100% - 200px);
  }

  .sidebar section.bottom ul.three li:first-child div {
    border-bottom: none;
  }
}
/* /sidebar */

.central-content {
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow-y: auto;
}

@media screen and (max-width: 575px) {
  .central-content {
    width: calc(100% - 80px);
  }
}

/* effettua upgrade button */
 .central-content .upgrade {
 background-color: rgba(0, 0, 0, 0.4);
 padding: 25px 20px;
 position: fixed;
 top: 0;
 width: calc(100% - 200px);
 height: 90px;
 z-index: 2;
}

@media screen and (max-width: 575px) {
  .central-content .upgrade {
    width: calc(100% - 80px);
  }
}

.upgrade .upgr-button {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.upgrade .upgr-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* /effettua upgrade button */

/* navbar */
.navbar {
  background-color: #141922;
  margin-top: 90px;
}

.navbar ul {
  line-height: 40px;
  font-size: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar ul li {
  padding: 0 10px;
  list-style: none;
}

.navbar ul > li:first-child::after {
  content:"";
  display: block;
  width: 40%;
  position: relative;
  border-bottom: 2px solid #adff2f;
  top: -10px;
  left: 20px;
}

.navbar li:hover {
  color: #fff;
  cursor: pointer;
}
/* /navbar */

/* sezione playlist */
main .title-row  {
  margin: 20px 0 20px 10px;
  font-size: 80%;
}
main .row-play {
  flex-wrap: wrap;
  margin-left: 10px;
}

main section .flex-item {
  margin-right: 15px;
  text-align: center;
  font-size: 60%;
}

main section .flex-item {
  width: calc((100%/6) - 15px)
}

@media screen and (max-width: 991px) {
  main section .flex-item {
    width: calc((100%/4) - 15px)
  }
}

@media screen and (max-width: 767px) {
  main section .flex-item {
    width: calc((100%/2) - 15px)
  }
}

main section .flex-item .img-cont {
  position: relative;
}

main section .flex-item .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
  display: none;
}

main section .flex-item .layer img {
  width: 30%;
  margin-top: 35%;
}

.img-cont:hover .layer {
  display: block;
  cursor: pointer;
}

main section .flex-item img {
  width: 100%;
}

main section .flex-item h2 {
  margin: 5px 0;
}
/* /sezione playlist */

footer {
  height: 90px;
  width: 100%;
  background-color: #2f2f2f;
  position: fixed;
  bottom: 0;
}

footer .footer-content {
  margin: 5px 10px;
}

/* sezione sinistra footer */
footer .footer-content .left  {
 flex: 1;
}
footer .footer-content .left .playing-album {
  display: inline-block;
  margin: 20px 0;
}

footer .footer-content .left .playing-album .img-ft-box {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

footer .footer-content .left img {
  width: 100%;
}

footer .footer-content .left .brano-nome {
  display: inline-block;
  font-size: 70%;
  padding-left: 10px;
}

footer .footer-content .left .icon {
  display: inline-block;
  padding-left: 20px;
}

footer .footer-content .left .icon i {
  padding-left: 5px;
}
/* /sezione sinistra footer*/

/* sezione centrale footer*/
footer .footer-content .center  {
 flex: 2;
}

footer .footer-content .middle .player-button {
  margin: 10px 0;
  text-align: center;
  color: #fff;
  height: 30%;
}

footer .footer-content .middle .player-button .fa-play-circle-o {
  font-size: 30px;
}

footer .footer-content .middle .player-button .fa-play-circle-o:hover {
 transform: scale(1.2);
}

footer .footer-content .middle .player-button i {
  padding: 0 10px;
  color: #fff;
  vertical-align: middle;
}

footer .footer-content .middle .player span {
  font-size: 10px;
  color: #fff;
}

footer .footer-content .middle .timing-bar {
  height: 5px;
  width: 100%;
  background-color: #5a5a5a;
  display: inline-block;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 5px;
  position: relative;
}

footer .footer-content .middle .passed-time {
  height: 5px;
  width: 27%;
  background-color: #b3b3b3;
  border-radius: 2px;
}

footer .footer-content .middle .timing-bar i{
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 29%;
  color: #fff;
  display: none;
}

footer .footer-content .middle .timing-bar:hover {
  cursor: pointer;
}
footer .footer-content .middle .passed-time:hover {
  background-color: #adff2f;
}

footer .footer-content .middle .timing-bar:hover i {
  display: block;
}
/* /sezione centrale footer*/

/* sezione destra footer*/
footer .footer-content .right {
  margin: 30px;
  flex: 1;
  text-align: right;
}

footer .footer-content .right .input {
  display: inline-block;
}

footer .footer-content .right .input i{
  padding: 0 5px;
}

footer .footer-content .right .volume-bar {
  height: 5px;
  width: 80%;
  background-color: #5a5a5a;
  display: inline-block;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 5px;
  position: relative;
}

footer .footer-content .right .percentage-vol {
  height: 5px;
  width: 40px;
  background-color: #b3b3b3;
  border-radius: 2px;
}

footer .footer-content .right .volume-bar i{
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 35%;
  color: #fff;
  display: none;
}

footer .footer-content .right .volume-bar:hover i {
  cursor: pointer;
}
footer .footer-content .right .percentage-vol:hover {
  background-color: #adff2f;
}

footer .footer-content .right .volume-bar:hover i {
  display: block;
}
/* /sezione destra footer*/
