/* classi utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #7c7e83;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pfixed {
  position: fixed;
}

.prelative {
  position: relative;
}

.va-middle {
  vertical-align: middle;
}

.fbold {
  font-weight: bold;
}

.font10 {
  font-size: 10px;
}

.font12 {
  font-size: 12px;
}

.bg-trsp {
  background-color: rgba(0, 0, 0, 0.5)
}

.bg-black {
  background-color: #000;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.w15 {
  width: 15px;
}

.w30 {
  width: 30px;
}

.w100 {
  width: 100%;
}

.fr {
  float: right;
}

.dis-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.progression-bar {
  height: 5px;
  background-color: #5a5a5a;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  width: 60%;
}

 .perc-30 {
  height: 5px;
  width: 30%;
  background-color: #b3b3b3;
  border-radius: 2px;
}

.cursore {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  display: none;
}

.change:hover {
  color: #fff;
}

.transform:hover {
  transform: scale(1.2);
}

.progression-bar,.change:hover {
  cursor: pointer;
}

.progression-bar:hover .perc-30 {
  background-color: #adff2f;
}

.progression-bar:hover .cursore {
  display: block;
}
/* classi utility */

#wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141922;
}

/* sidebar */
.sidebar {
  height: calc(100% - 90px);
  width: 200px;
}

.sidebar section.top #home::before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  position: absolute;
  transform: translate(-50%, 0);
  background-color: #adff2f;
  left: 0;
}

.sidebar section.top .big-logo {
  width: 80%;
}

.sidebar section.top .add-button span:before {
  content: "+";
  font-size: 25px;
  color: #000;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
  width: 30px;
  text-align: center;
  margin-right: 10px;
}

.sidebar section.bottom {
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 270px);
}

.sidebar section.bottom ul.two {
  overflow-y: auto;
  min-height: 120px;
}

.sidebar section.bottom ul.three li:first-child > div {
  border-bottom: 1px solid #fff;
}

.sidebar section.bottom ul.three .profile-icon {
  width: 20px;
  height: 20px;
  background-color: #595959;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
/* /sidebar */

main {
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow-y: auto;
}

/* effettua upgrade button */
main .upgrade {
  top: 0;
  width: calc(100% - 200px);
  height: 90px;
  z-index: 2;
}

.upgrade .upgr-button {
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
}
/* /effettua upgrade button */

/* navbar */
main .navbar {
  margin-top: 90px;
}

.navbar ul {
  line-height: 40px;
  justify-content: center;
}

.navbar ul>li:first-child::after {
  content: "";
  display: block;
  width: 40%;
  position: relative;
  border-bottom: 2px solid #adff2f;
  top: -10px;
  left: 20px;
}
/* /navbar */

/* sezione playlist */
main .row-play .flex-item {
  width: calc((100%/6) - 15px);
  text-align: center;
}

.row-play .flex-item .layer {
  height: 100%;
  display: none;
}

.row-play .flex-item .layer>img {
  width: 30%;
}

.row-play .flex-item .layer,.layer>img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 50%;
}

.row-play.three .flex-item .img-cont >.layer,img.last {
  border-radius: 55%;
}

.flex-item .img-cont:hover .layer {
  display: block;
  cursor: pointer;
}
/* /sezione playlist */

footer {
  height: 90px;
  background-color: #2f2f2f;
  bottom: 0;
}

footer .footer-content {
  justify-content: space-between;
  height: 100%;
}

.footer-content .left, .right {
  width: 270px;
}

.footer-content .middle {
  width: 50%;
}

/* sezione sinistra footer */
.footer-content .left, .playing-album {
  justify-content: flex-start;
}

.footer-content .left .img-ft-box {
  width: 40px;
}
/* /sezione sinistra footer*/

/* sezioni centrale footer*/
.footer-content .middle {
  height: 100%;
}

.footer-content .middle .player-button,.player {
  justify-content: center;
}

.footer-content .middle .player-button .fa-play-circle-o {
  font-size: 30px;
}

.footer-content .middle .player .time {
  width: max-content;
}
/* /sezione centrale footer*/

.footer-content .right {
  justify-content: flex-end;
}

/* MEDIA QUERY */
@media screen and (max-width: 991px) {
  main .row-play .flex-item {
    width: calc((100%/4) - 15px)
  }
}

@media screen and (max-width: 767px) {
  main .row-play .flex-item {
    width: calc((100%/2) - 15px)
  }
}

@media screen and (min-width: 576px) {
  .hidden-lg {
    display: none
  }
}

@media screen and (max-width: 575px) {
  .hidden-xs {
    display: none
  }

  .show-xs {
    display: block;
  }

  .progression-bar {
    width: 50%;
  }

  .sidebar {
    width: 65px;
  }

  .sidebar section.top #home::before {
    display: none;
  }

  .sidebar section.bottom {
    height: calc(100% - 187px);
  }

  .sidebar section.bottom ul.three li:first-child div {
    border-bottom: none;
  }

  main {
    width: calc(100% - 65px);
  }

  main .upgrade {
    width: calc(100% - 65px);
  }

  .footer-content .playing-album,.icon,.input {
    margin-right: 0;
    padding-left: 0;
  }

  .footer-content .middle .player-button i {
    margin-left: 0;
  }
}
/* /MEDIA QUERY */
